<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h2>Login</h2>
    <form th:action="@{/login}" method="post" th:object="${user}">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:field="*{email}" placeholder="Email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" placeholder="Password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <p>Don't have an account? <a th:href="@{/registration}">Register here</a></p>
</body>
</html>
